.container {
  text-align: left;
  width: 406.66px;
  height: 481.73px;
}
.container__picture{
  width: 387px;
  height: 254px;  
}
.container h6 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #999999;
  text-transform: uppercase;
}
.container h1 {
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  color: black;  
  text-transform: uppercase;
  padding: 18px 49.66px 15px 0px;
}
.container h3 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  color: black;
  text-transform: uppercase;
}