.container_three {
  text-align: left;
  width: 610px;
  height: 567.19px;
}
.container__picture_three{
  width: 590px;
  height: 387px;  
}
.container_three h6 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #999999;
  text-transform: uppercase;
}
.container_three h1 {
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  color: black;  
  text-transform: uppercase;
}
.container_three h3 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  color: black;
  text-transform: uppercase;
}