.container__text {
    width: 25%;
}
.container__text_one {
   padding: 5px 20px 0px 20px;
   font-family: 'Calibri', sans-serif;
   font-size: 15px; 
}
.link {
    text-align: right;
}
.link a {
    text-decoration: none;
    color: #fb9c06;
}
