.sprite {
    background-image:url('./img/css_sprites.png');
}
.IMAGE_A {
    width: 387px; height: 254px;
    background-position: -1230px -558px;
}
.IMAGE_B {
    width: 387px; height: 254px;
    background-position: -417px -824px;
}
.IMAGE_C {
    width: 387px; height: 254px;
    background-position: -1230px -10px;
}
.IMAGE_D {
    width: 387px; height: 254px;
    background-position: -1230px -284px;
}
.IMAGE_E {
    width: 387px; height: 254px;
    background-position: -10px -824px;
}
.IMAGE_F {
    width: 387px; height: 254px;
    background-position: -10px -1098px;
}
.MOUNTAIN {
    width: 285px; height: 187px;
    background-position: -315px -1372px;
}
.IMAGE_1 {
    width: 285px; height: 187px;
    background-position: -824px -824px;
}
.IMAGE_2 {
    width: 285px; height: 187px;
    background-position: -722px -1098px;
}
.IMAGE_3 {
    width: 285px; height: 187px;
    background-position: -1332px -1098px;
}
.IMAGE_4 {
    width: 285px; height: 187px;
    background-position: -417px -1098px;
}
.IMAGE_5 {
    width: 285px; height: 187px;
    background-position: -1027px -1098px;
}
.IMAGE_6 {
    width: 285px; height: 187px;
    background-position: -10px -1372px;
}
.IMAGE_7 {
    width: 285px; height: 187px;
    background-position: -1230px -832px;
}
.FOOTBALL {
    width: 590px; height: 387px;
    background-position: -10px -10px;
}
.POOL {
    width: 590px; height: 387px;
    background-position: -620px -10px;
}
.BEACH {
    width: 590px; height: 387px;
    background-position: -10px -417px;
}
.ICE {
    width: 590px; height: 387px;
    background-position: -620px -417px;
}